/**
 * MENU DE RESTAURANT
 * Nom de l'étudiant : [Votre nom]
 * Date : [Date]

   Instructions complètes ici: https://tim-montmorency.com/compendium/582-211-web2/exercices/cours3-menu-resto/index.html
 */

/* ========================================
   RÉINITIALISATION DE BASE
   ======================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif; /* Changez pour votre choix de police de caractères de Google Fonts*/
    font-size: 1rem;
    line-height: 1.6;
    color: #333; /* Ajutez avec votre couleur de texte principale */
    background-color: #f9f9f9; /* Ajutez avec votre couleur de fond principale */
}
 .Prix {
   align-items: center;
   
 }

 span 
 

/* ========================================
   VOTRE CODE CSS ICI
   ======================================== */
